p {
    /* line-height: 1.5; */
}


/* ------------------ Header ------------------*/

.header {
    display: flex;
    position: relative;
    height: 293px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header__menu {
    display: flex;
    list-style: circle;
}

.header__menu-item {
    margin: 0 12px 0 16px;
    font-size: 18px;
}

.header__menu-item:first-child {
    margin: 0 12px 0 0;
    list-style: none;
}

.header__logo {
    position: absolute;
    top: calc(50% - 52.5px);
    left: calc(50% - 76px);
    height: 105px;
    width: 148px;
}

.header__contacts {
    width: 240px;
    font-size: 18px;
}

/* ------------------ Cover ------------------*/

.cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.cover__image {
    width: 100%;
    height: 757px;
    object-fit: cover;
    filter: brightness(40%);
}

.cover__text {
    position: absolute;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 24px;
}

.cover__text_first {
    top: 165px;
    left: 50px;
}

.cover__text_second {
    top: 300px;
    left: 336px;
}

.cover__text_third {
    top: 420px;
    left: 633px;
}

.cover__action {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 50px;
}

.cover__action p {
    padding-left: 28px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    word-spacing: 20px;
}

.cover__action button {
    padding: 12px 32px;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}

/* .cover__action button:hover {
    color: white;
    background: black;
    border: 1px solid white;
} */


/* ------------------ Lots ------------------*/

.lots {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1052px;
    margin: 180px auto 146px;
}

.lots__title {
    font-size: 40px;
    margin: 0 0 28px 40px;
    text-transform: uppercase;
}

.lots__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 25px; */
    margin-bottom: 30px;
}

.lots__item {
    position: relative;
    width: 334px;
    height: 563px;

    /* background-image: url('/images/card-lot-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

    /* background: url('/images/card-lot-01.jpg') no-repeat center / cover; */
}

.lots__item img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.item__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.item__title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.item__description {
    font-size: 20px;
}

.lots__button {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    text-transform: lowercase;
    text-decoration: underline;
    color: black;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


/* ------------------ About ------------------*/


.about {
    display: flex;
    margin: 36px 24px 180px;
    gap: 72px;
}

.about__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
	height: 240px;
    margin-left: 48px;
	border-radius: 100%;
	background-color: black;
}

.about__logo {
    width: 148px;
    height: 114px;
}

.about__text h2 {
    padding: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text p {
    padding-bottom: 24px;
    font-size: 20px;
}


/* ------------------ Footer ------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 88px;
}

.footer__contacts {
    width: 240px;
    font-size: 18px;
}

.footer__menu {
    list-style: none;
    text-align: center;
    font-size: 18px;
}

.footer__icons {
    display: flex;
    gap: 48px;
}

.footer__icon {
    width: 48px;
    height: 48px;
}